.navbar-header {

	.navbar-toggle {
		float: left;

		&[aria-expanded="true"] {

			.icon-bar {

				// &:nth-of-type(2) {
				// 	transform: rotate(45deg);
				// }

				// &:nth-of-type(3) {
				// 	opacity: 0
				// }

				// &:last-of-type {
				// 	transform: rotate(-45deg);
				// }
			}
		}
	}
}


.header_holder{
	background-color: $custom-yellow;
}

.nav {
	list-style: none;
	text-decoration: none;

	li {
		display: inline-block;
		font-weight: 600 ;
		font-size: 	22px;
		
	}

	a {
		text-decoration: none;
		color: $custom-black;
        padding: 0 15px !important;
        border-bottom: 4px solid transparent;

		&:hover{
			border-bottom: 4px solid $custom-black;
            padding: 0 15px;
			color: $custom-black;
			background-color: transparent !important;
		}

	}
}

.container-fluid{
	padding-top: 63px;
}

.info_holder{
	h1{
		font-weight: 800;
		text-transform: none;
	}
	h3{
		font-weight: 300;
	}
}

.image_holder{
	    display: flex;
    justify-content: center;
}

@media (min-width: 992px){
	.image_holder{
	justify-content: flex-end;
	}
}

